<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- icon & title for the address bar //-->
   
    <meta name="theme-color" content="#03324B" />
    <meta property="og:image" content="b1.jpj" />
    <title>Cover BENGALURU</title>

    <link rel="stylesheet" type='text/css' href="/css/timecss/fonts.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/reset.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/styles.css">
    <!--https://codepen.io/vincebrown/pen/BNazqL//-->
</head>

<body>
    <header>
        <div class="poster" style=" background-image: url('/images/bengaluru.jpg');">
            <h1 class="poster__heading" style="color: black;">BENGALURU
                <span class="poster__subheading">
                    <!--NOT ALL WHO WANDER ARE LOST//-->
                    TAKING ON A NEW ADVENTURE
                    <!--WHEREVER YOU GO, GO WITH ALL YOUR HEART//--></span>
                <a id="scroll-down" href="#" class="btn--primary">Discover</a>
        </div>
        </div>
    </header>

    <main class="timeline-wrapper" >
        <div class="svg-timeline">
            <svg id="svg" width="8px">
                <line id="timeline" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="4" y1="0"
                    x2="4" y2="0" />
            </svg>
        </div>
        <ol class="timeline clearfix">

            <li class="timeline__item">
                <h3 class="timeline__day">Day 1: <a
                        href="https://en.wikipedia.org/wiki/Bengaluru_Palace"><span>Bengaluru
                            Palace</span></a></h3>
                <p class="timeline__day-sum">Bengaluru Palace is a 19th century royal palace located in Bengaluru, Karnataka, India, built in an area that was owned by the Rev. John Garrett, the first principal of the Central High School in Bangalore. The palace was commissioned for the Maharaja of Mysore, Chamarajendra Wadiyar X, and currently belongs to the current head of the Wadiyar dynasty, Yaduveer Krishnadatta Chamaraja Wadiyar. </p>
                <a href="#" class="btn--comments">19 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayTwo">Day 2: <a
                        href="https://en.wikipedia.org/wiki/ISKCON_Temple,_Bengaluru"><span>ISKCON_Temple,_Bengaluru</span></a>
                </h3>
                <p class="timeline__day-sum">In May 1997, Bangalore ISKCON Temple was inaugurated by the ninth president of India, Shankar Dayal Sharma.[3][2] The society was registered in the year 1978 under the Karnataka Societies Registration Act, 1960. The objectives of the society are derived from the Seven  Purposes of ISKCON as stated by Srila Prabhupada.</p>
                <a href="#" class="btn--comments">35 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayThree">Day 3-4: <a
                        href="https://en.wikipedia.org/wiki/Lal_Bagh"><span>Lal_Bagh Bengaluru</span></a></h3>
                <p class="timeline__day-sum">Lalbagh Botanical Garden or simply Lalbagh, is a botanical garden in Bangalore, India, with an over 200-year history. First planned and laid out during the dalavaiship of King Hyder Ali, the garden was later managed under numerous British Superintendents before Indian Independence.</p>
                <!-- <p class="timeline__day-sum">Desc.</p> -->
                <a href="#" class="btn--comments">72 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayFour">Day 4: <a
                        href="https://en.wikipedia.org/wiki/Nandi_Hills,_India"><span>Nandi_Hills</span></a></h3>
                <p class="timeline__day-sum">Nandi Hills (Anglicised forms include Nandidurg and Nandydoorg) is an ancient hill station built by Ganga Dynasty in the Chikkaballapur district of Karnataka state. It is 10 km from Chickballapur town and approximately 60 km from Bengaluru. The hills are near the town Nandi. In traditional belief, the hills are the origin of the Arkavathy river,Ponnaiyar River, Palar River, Papagni River and Penna River.Watching the sunrise at Nandi Hills is popular with tourists.</p>
                <a href="#" class="btn--comments">132 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayFive">Day 5: <a
                        href="https://en.wikipedia.org/wiki/Savandurga"><span>Savandurga Hills</span></a></h3>
                <p class="timeline__day-sum">Savandurga is a hill 60 km west of Bengaluru, Karnataka, off the Magadi road in India. It is the largest monolith hills in Asia.[1] The hill rises to 1226 m above mean sea level and forms a part of the Deccan plateau. It consists of peninsular gneiss, granites,  dykes, and laterites. The Arkavathi river passes nearby through the Thippagondanahalli reservoir and towards Manchanabele dam.
                </p>
                <a href="#" class="btn--comments">2 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 6: <a
                        href="https://en.wikipedia.org/wiki/Cubbon_Park"><span>Cubbon_Park</span></a></h3>
                <p class="timeline__day-sum">Cubbon Park, officially Sri Chamarajendra Park,is a landmark park in Bengaluru, located in the heart of the city in the Central Administrative Area. Originally created in 1870 under Major General Richard Sankey, then British Chief Engineer of Mysore State, it covered an area of 100 acres (0.40 km2). Subsequent expansion has since taken place and the park's area is now reported to be 300 acres (1.2 kms).</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day daySix">Day 6-7:<a
                        href="https://www.tripadvisor.in/Attraction_Review-g297628-d8089856-Reviews-Omkareshwarar_Temple-Bengaluru_Bangalore_District_Karnataka.html"><span>Omkareshwarar
                            Temple</span></a></h3>
                <p class="timeline__day-sum">Omkareshwarar Temple and an Ashram are situated in Omkareshwar Hills, which is closer to Raja Rajeshwari Nagar - Banakshankari 6th Stage 11th Block, Bengaluru! You have the option to reach the hillock by car using the road available or choose to walk few steps to reach the temple! The Whte Temple Towers are having looks of East / North Indian Temple structure. Of course there is a structure of South Indian ( Chola ) style Tower too at the main entrance.
                </p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>
            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 7:<a href="https://en.wikipedia.org/wiki/Vidhana_Soudha">
                        <span>Vidhana_Soudha</span></a></h3>
                <p class="timeline__day-sum">Vidhana Soudha  is a building in Bangalore, India
                    which serves as the seat of the state legislature of Karnataka. It is constructed in Neo-Dravidian style and completed in 1956</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

        </ol>
    </main>


    <script src='/js/timejs/jquery3.3.1.js'></script>
    <script src='/js/timejs/toolkit.js'></script>

</body>

</html>