<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

   
    <meta name="theme-color" content="#03324B" />
    <meta property="og:image" content="cmk1.jpg" />
    <title>Cover CHIKKAMAGALURU</title>

    <link rel="stylesheet" type='text/css' href="/css/timecss/fonts.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/reset.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/styles.css">
    <!--https://codepen.io/vincebrown/pen/BNazqL//-->
</head>

<body>
    <header>
        <div class="poster"  style=" background-image: url('/images/CMK1.png');">
            <h1 class="poster__heading" style="color: black;">CHIKKAMAGALURU
                <span class="poster__subheading">
                    <!--NOT ALL WHO WANDER ARE LOST//-->
                    TAKING ON A NEW ADVENTURE
                    <!--WHEREVER YOU GO, GO WITH ALL YOUR HEART//--></span>
                <a id="scroll-down" href="#" class="btn--primary">Discover</a>
        </div>
        </div>
    </header>

    <main class="timeline-wrapper">
        <div class="svg-timeline">
            <svg id="svg" width="8px">
                <line id="timeline" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="4" y1="0"
                    x2="4" y2="0" />
            </svg>
        </div>
        <ol class="timeline clearfix">

            <li class="timeline__item">
                <h3 class="timeline__day">Day 1: <a href="https://en.wikipedia.org/wiki/Mullayyana_Giri"><span>Mullayyanagiri</span></a></h3>
                <p class="timeline__day-sum">Mullayyanagiri is the highest peak in Mullayyanagiri is the highest peak in
                    Karnataka, India. Mullayyanagiri is located in the Chandra Dhrona Hill Ranges of the Western Ghats
                    of Chikkamagaluru Taluk. With a height of 1,925 metres, it is the highest peak in Karnataka and also
                    the 23rd highest peak in Western Ghats. </p>
                <a href="#" class="btn--comments">19 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayTwo">Day 2: <a href="https://en.wikipedia.org/wiki/Kudremukha"><span>Kudremukha</span></a></h3>
                <p class="timeline__day-sum">Kudremukha is the name of a mountain range and an individual mountain peak
                    located in Chikmagalur district, in Karnataka, India. It is also the name of a small hill station
                    and iron ore-mining town situated near the mountain, about 20 kilometres from Kalasa in Kalasa
                    Taluk.</p>
                <a href="#" class="btn--comments">35 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayThree">Day 3-4: ,<a href="https://www.karnataka.com/chikmagalur/rani-jhari-edge-point/"><span>Rani Jhari Edge Point</span></a></h3>
                <p class="timeline__day-sum">Beautiful scenic view of mountain. Not so popular n crowed like
                    Mullayanagiri n baba budhangiri peak in Chikamangalur. TIll point only private jeep of resort people
                    are allowed for others from car parking about 1 km of trek is there. One Food stall is available
                    near the point from where we have to climb up to get the mesmerizing valley view.</p>
                <p class="timeline__day-sum">Desc.</p>
                <a href="#" class="btn--comments">72 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayFour">Day 4: <a href="https://en.wikipedia.org/wiki/Kemmangundi"><span>Kemmannugundi</span></a></h3>
                <p class="timeline__day-sum">Kemmannugundi (Red Soil Pit) is a hill station in Tarikere taluk of
                    Chikkamagaluru district in the state of Karnataka, India. It is at the elevation of 1434m above sea
                    level, with its peak at 1863m.[1] This was the summer retreat of Krishnaraja Wodeyar IV, and as a
                    mark of respect to the king, it is also known as Sri Krishnarajendra Hill Station.</p>
                <a href="#" class="btn--comments">132 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayFive">Day 5: ,<a href="https://en.wikipedia.org/wiki/Bhadra_Wildlife_Sanctuary"><span>Bhadra Wildlife Sanctuary</span></a></h3>
                <p class="timeline__day-sum">Bhadra Wildlife Sanctuary is a protected area and tiger reserve as part of
                    the Project Tiger, situated in Chikkamagaluru district, 23 km south of Bhadravathi city, 38 km 20 km
                    from Tarikere town, northwest of Chikkamagaluru and 283 km from Bengaluru city in Karnataka state,
                    India.</p>
                <a href="#" class="btn--comments">2 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 6: ,<a href="https://en.wikipedia.org/wiki/Baba_Budangiri"><span>Baba Budangiri</span></a></h3>
                <p class="timeline__day-sum">The main peaks in this range are the eponymous Baba Budangiri (height 1895
                    m), Mullayanagiri (1930 m) and others. Mullayanagiri is the highest peak in the range. With a height
                    of 1930 m (6317 ft), it is the fourth highest peak between the Himalayas and the Nilgiris. There is
                    a famous trekking trail between Mullayanagiri and Baba Budangiri.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day daySix">Day 6-7:,<a href="https://en.wikipedia.org/wiki/Sringeri_Sharada_Peetham"><span>Sringeri</span></a></h3>
                <p class="timeline__day-sum">The famous Adi Shankara, who is regarded as the greatest reformer and most
                    inspirational teacher of the 'samartha', established Sringeri Mutt in the 8th century AD. Erected on
                    the banks of the Tunga River, Sringeri Mutt is a rustic ancient temple with a lot of history
                    attached to it.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>
            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 7:,<a href="https://karnatakatourism.org/tour-item/manikyadhara-waterfalls/"> <span>Manikyadhara</span></a></h3>
                <p class="timeline__day-sum">Manikyadhara Falls is among the famous waterfalls in Chikmagalur.
                    Manikyadhara means a string of pearls. And the beauty of the water falling through lush vegetation
                    is something you must witness.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

        </ol>
    </main>


    <script src='/js/timejs/jquery3.3.1.js'></script>
    <script src='/js/timejs/toolkit.js'></script>

</body>

</html>