<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

   
    <meta name="theme-color" content="#03324B" />
    <meta property="og:image" content="img/music-pattern.png" />
    <title>Cover HASSAN</title>

    <link rel="stylesheet" type='text/css' href="/css/timecss/fonts.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/reset.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/styles.css">
    <!--https://codepen.io/vincebrown/pen/BNazqL//-->
</head>

<body>
    <header>
        <div class="poster" style=" background-image: url('/images/hassan.png');">
            <h1 class="poster__heading">HASSAN
                <span class="poster__subheading" style="color: black;"> 
                    <!--NOT ALL WHO WANDER ARE LOST//-->
                    TAKING ON A NEW ADVENTURE
                    <!--WHEREVER YOU GO, GO WITH ALL YOUR HEART//--></span>
                <a id="scroll-down" href="#" class="btn--primary">Discover</a>
        </div>
        </div>
    </header>

    <main class="timeline-wrapper">
        <div class="svg-timeline">
            <svg id="svg" width="8px">
                <line id="timeline" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="4" y1="0"
                    x2="4" y2="0" />
            </svg>
        </div>
        <ol class="timeline clearfix">

            <li class="timeline__item">
                <h3 class="timeline__day">Day 1: ,<a
                        href="https://en.wikipedia.org/wiki/Bengaluru_Palace"><span>Chennakeshava
                            Temple,</span></a></h3>
                <p class="timeline__day-sum">Belur, situated on the banks of river Yagachi, 38 km from Hassan, is a
                    world famous tourist destination.
                    Belur was the erstwhile capital of the Hoysalas and referred to as Velapur, Velur and Belahur at
                    different points in history.
                </p>
                <a href="#" class="btn--comments">19 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayTwo">Day 2: ,<a
                        href="https://en.wikipedia.org/wiki/Nandi_Hills,_India"><span>Shravanabelagola</span></a></h3>
                <p class="timeline__day-sum">Shravanabelagola is situated about 150 km northwest of Bangalore, the
                    capital of Karnataka.
                    The town has been a prominent centre for Jain art, architecture, religion and culture for over two
                    millennia. About two thousand years ago, Bhagawan Bhadrabahu, the earliest among the great Jain
                    Acharyas came to Shravanabelagola from Ujjain, Madhya Pradesh, with his disciples.</p>
                <a href="#" class="btn--comments">35 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayThree">Day 3-4: ,<a
                        href="https://en.wikipedia.org/wiki/Lal_Bagh"><span>Hoysaleshwara
                            Temple,</span></a></h3>
                <p class="timeline__day-sum">Halebidu temple is another great example of temple architecture the twin
                    temples of Hoysaleshwara, Kedareshwara built by Vishnuvardhana and Ballala-ll at Halabidu. Sequences
                    from Ramayana, Mahabharatha &
                    Bhagavatha are depicted on the outer walls of these temples.</p>
                <p class="timeline__day-sum">Desc.</p>
                <a href="#" class="btn--comments">72 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayFour">Day 3: ,<a
                        href="https://en.wikipedia.org/wiki/Omkar_Hills"><span>Manjrabad Fort</span></a></h3>
                <p class="timeline__day-sum">Hassan is a district with several splendid tourist destinations.
                    Sakaleshpur, which is one of the most prominent taluk headquarters of Hassan district, is rich with
                    many picnic spots and popular tourist places adorned with picturesque natural sceneries and
                    structures of exquisite art and architecture.</p>
                <a href="#" class="btn--comments">132 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayFive">Day 5:,<a href="https://en.wikipedia.org/wiki/Cubbon_Park">
                        <span>Hasanamba
                            Temple</span></a></h3>
                <p class="timeline__day-sum">The main tower at Sri Hasanamba has been newly constructed in Dravidian
                    style. There are three major temples on the premises of this temple dedicated to Darbar Ganapati,
                    Hasanamba and Siddeshwara.
                    Another prominent attraction here is the shrine dedicated to Kallappa.</p>
                <a href="#" class="btn--comments">2 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 6: <span>Gorur Dam</span></h3>
                <p class="timeline__day-sum">A dam has been constructed across Hemavati River, an important tributary of
                    the Kaveri. The dam is located at Gorur, near Hassan in Karnataka. Built in 1979, the reservoir has
                    been providing water for drinking and irrigation purposes for the people of Hassan district.
                    Hemavati Dam is very vast and covers a catchment area of 2,810 sq. km. This dam is 4,692 m long and
                    58.5 m high.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day daySix">Day 6-7: <span>Bisle Ghat</span></h3>
                <p class="timeline__day-sum">There is a sprawling 40-hectare reserved forest area at Bisle in Hettur
                    hobli of Sakleshpur taluk of Hassan district. Identified as a very distinguished forest region in
                    Asia, this forest spreads across Hassan, Kodagu and Dakshina Kannada districts. In this vast forest
                    region, there are several hillocks called Pushpagiri, Kumara Betta, Yennikallu, Patia, Dodda Betta
                    and Kannadi Kallu.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>
            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 7: <span>Hosahalli Gudda</span></h3>
                <p class="timeline__day-sum">At a distance of 28 km from Sakleshpur, Hosahalli Gutta or Hosahalli Betta
                    is a mountain peak situated near Jedigadde village in the Sakleshpur region of Karnataka. It is one
                    of the popular places for trekking enthusiasts as part of Sakleshpur tour packages.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

        </ol>
    </main>


    <script src='/js/timejs/jquery3.3.1.js'></script>
    <script src='/js/timejs/toolkit.js'></script>
</body>

</html>