<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    
    <meta name="theme-color" content="#03324B" />
    <meta property="og:image" content="img/music-pattern.png" />
    <title>Cover MANGALURU</title>

    <link rel="stylesheet" type='text/css' href="/css/timecss/fonts.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/reset.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/styles.css">
    <!--https://codepen.io/vincebrown/pen/BNazqL//-->
</head>

<body>
    <header>
        <div class="poster" style=" background-image: url('/images/mangaluru.png');">
            <h1 class="poster__heading" style="color: black;">MANGALURU
                <span class="poster__subheading">
                    <!--NOT ALL WHO WANDER ARE LOST//-->
                    TAKING ON A NEW ADVENTURE
                    <!--WHEREVER YOU GO, GO WITH ALL YOUR HEART//--></span>
                <a id="scroll-down" href="#" class="btn--primary">Discover</a>
        </div>
        </div>
    </header>

    <main class="timeline-wrapper">
        <div class="svg-timeline">
            <svg id="svg" width="8px">
                <line id="timeline" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="4" y1="0"
                    x2="4" y2="0" />
            </svg>
        </div>
        <ol class="timeline clearfix">

            <li class="timeline__item">
                <h3 class="timeline__day">Day 1: ,<a href="https://en.wikipedia.org/wiki/Panambur_Beach"><span>Panambur
                            Beach</span></a></h3>
                <p class="timeline__day-sum">Close to the New Mangalore port is the Panambur beach, one of the most
                    loved, pristine, clean beach in the city. The blue skies, sea and sands, get a dash of color during
                    April, as the beach hosts a kite festival.

                </p>
                <a href="#" class="btn--comments">19 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayTwo">Day 2: ,<a
                        href="https://en.wikipedia.org/wiki/St._Aloysius_Chapel"><span>St Aloysius Chapel</span></a>
                </h3>
                <p class="timeline__day-sum">St Aloysius Chapel is a Catholic Church and a famous attraction set atop
                    the Lighthouse Hill and has a regal look which is breathtaking right from the entrance. The unique
                    wall paintings of St.
                    Aloysius Chapel are stunning and attract visitors in quite a large number.</p>
                <a href="#" class="btn--comments">35 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayThree">Day 3-4: ,<a
                        href="https://en.wikipedia.org/wiki/Kadri_Manjunath_Temple"><span>Kadri Manjunath
                            Temple</span></a></h3>
                <p class="timeline__day-sum">Built in 1068, this temple has a Buddhist architectural influence on the
                    basic Vijaynagri style. It is situated at the base of the Kadri hills, the chief deity being
                    Manjunatha.</p>
                <p class="timeline__day-sum">Desc.</p>
                <a href="#" class="btn--comments">72 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayFour">Day 3: <a
                        href="https://en.wikipedia.org/wiki/Sultan_Bathery"><span>Sultan Battery</span></a></h3>
                <p class="timeline__day-sum">Tipu Sultan constructed this watchtower to keep a lookout for the entry of
                    warships into the Gurpur River. The battery, made from black stones had been given the look of a
                    miniature fortress. Not having withstood the test of time and extreme weather, this tower stands in
                    ruins today.</p>
                <a href="#" class="btn--comments">132 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayFive">Day 5:<a href="https://en.wikipedia.org/wiki/Tannirbhavi_Beach">
                        <span>Tannirbhavi Beach</span></a></h3>
                <p class="timeline__day-sum">Tannirbhavi Beach is an exotic beach that gets a lot of locals coming out
                    for morning and evening walks. Proper seats and other facilities make the beach a frequently visited
                    attraction. It is crowded often on weekends and public holidays.</p>
                <a href="#" class="btn--comments">2 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 6:<a
                        href="https://en.wikipedia.org/wiki/New_Mangalore_Port"><span>New Mangalore Port</span></a></h3>
                <p class="timeline__day-sum">The ninth biggest port in India, this was established in 1974 and is
                    located at the north of
                    the confluence of the Gurupura river with the Arabian Sea. Various imports and exports take place
                    continuously.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day daySix">Day 6-7: <a
                        href="https://en.wikipedia.org/wiki/Our_Lady_of_Rosary_Cathedral,_Mangalore"><span>Rosario
                            Cathedral</span></a></h3>
                <p class="timeline__day-sum">Rosario Cathedral is a 16th-century Roman
                    Catholic church, also called Church of Our Lady of Rosary of Mangalore. It is a magnificent
                    structure with a beautiful interior and one of the few places in Mangalore where one can find peace
                    and tranquillity away from the chaotic city life.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>
            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 7:<a
                        href="https://en.wikipedia.org/wiki/Milagres_Church_(Mangalore)"><span>Milagres
                            Church</span></a></h3>
                <p class="timeline__day-sum">Milagres Church is a late 1600 Roman catholic church and one of the oldest
                    in Dakshina Karnataka dedicated to Church of Our Lady of Miracles. The original church doesn't exist
                    anymore as it was demolished by Tipu Sultan, but a cemetery and a Chapel which was built years later
                    are still present.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

        </ol>
    </main>


    <script src='/js/timejs/jquery3.3.1.js'></script>
    <script src='/js/timejs/toolkit.js'></script>
</body>

</html>