<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    
    <meta name="theme-color" content="#03324B" />
    <meta property="og:image" content="cmk1.jpg" />
    <title>Cover MYSURU</title>

    <link rel="stylesheet" type='text/css' href="/css/timecss/fonts.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/reset.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/styles.css">
    <!--https://codepen.io/vincebrown/pen/BNazqL//-->
</head>

<body>
    <header>
        <div class="poster" style=" background-image: url('/images/mysoremain.png');  ">
            <h1 class="poster__heading" style="color:white;">MYSURU
                <span class="poster__subheading">
                    <!--NOT ALL WHO WANDER ARE LOST//-->
                    TAKING ON A NEW ADVENTURE
                    <!--WHEREVER YOU GO, GO WITH ALL YOUR HEART//--></span>
                <a id="scroll-down" href="#" class="btn--primary">Discover</a>
        </div>
        </div>
    </header>

    <main class="timeline-wrapper">
        <div class="svg-timeline">
            <svg id="svg" width="8px">
                <line id="timeline" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="4" y1="0"
                    x2="4" y2="0" />
            </svg>
        </div>
        <ol class="timeline clearfix">
            <div class="first">
                <li class="timeline__item">
                    <h3 class="timeline__day">Day 1: <a href="https://en.wikipedia.org/wiki/Mysore_Palace"><span>Mysore
                                Palace</span></a></h3>
                    <p class="timeline__day-sum">Mysore Palace, also known as Amba Vilas Palace, is a historical palace and a royal residence. It is located in Mysore, Karnataka, India. It used to be the official residence of the Wadiyar dynasty and the seat of the Kingdom of Mysore. The palace is in the centre of Mysore, and faces the Chamundi Hills eastward. </p>
                    <a href="#" class="btn--comments">19 Comments</a>
                </li>

                <li class="timeline__item right">
                    <h3 class="timeline__day dayTwo">Day 2: <a
                            href="https://en.wikipedia.org/wiki/Chamundi_Hills"><span>Chamundeshwari Temple</span></a>
                    </h3>
                    <p class="timeline__day-sum">Named after the Goddess Chamundi, the Chamundeshwari Temple sits atop the main hill.The main hill itself features an ancient stone stairway of 1,008 steps leading to its summit. Approximately halfway to the summit is statue of bull Nandi, the vahana, or "vehicle" of Lord Shiva, which is 4.9 m tall and 7.6 m long and carved out of a single piece of black granite. Around this point, the steps become significantly less steep and eventually the climber is rewarded with a panoramic view of the city. </p>
                    <a href="#" class="btn--comments">35 Comments</a>
                </li>
            </div>

            <li class="timeline__item">
                <h3 class="timeline__day dayThree">Day 3-4:<a href="https://en.wikipedia.org/wiki/Mysore_Zoo"><span>
                            Mysore_Zoo</span></a></h3>
                <p class="timeline__day-sum">Mysore Zoo (or Mysuru Zoo),[4] officially known as Sri Chamarajendra Zoological Gardens, is a composite of zoological gardens and animal park located in the southern Indian city of Mysore, Karnataka. Stretching across a 157-acre (64 ha)-expanse and situated at about 700 metres (0.43 miles) from Mysore Palace, it is the oldest zoo in India and one of the oldest in the world.</p>
                <!-- <p class="timeline__day-sum">Desc.</p> -->
                <a href="#" class="btn--comments">72 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayFour">Day 4:<a
                        href="https://en.wikipedia.org/wiki/Lalitha_Mahal"><span>Lalitha Mahal</span></a></h3>
                <p class="timeline__day-sum">The Lalitha Mahal, now renamed Lalitha Mahal Palace Hotel, is a luxury hotel located in a former royal residence, and the second largest palace in the southern Indian city of Mysore, Karnataka, after the Mysore Palace. It is located near the Chamundi Hills, east of the city. The palace was built in 1921 by Maharaja Krishnaraja Wodeyar IV for the exclusive stay of the Governor-General of India.</p>
                <a href="#" class="btn--comments">132 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayFive">Day 5:<a
                        href="https://en.wikipedia.org/wiki/Namdroling_Monastery"><span>Namdroling
                            Monastery</span></a></h3>
                <p class="timeline__day-sum">Peaceful heritage site with vibrant temple art, golden Buddha statues, and space for meditation. Enjoy serene prayer rituals and local Tibetan crafts. </p>
                <a href="#" class="btn--comments">2 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 6:<a
                        href="https://www.mysoretourism.org.in/lokaranjan-aqua-world-underwater-zone-aquarium-mysore"><span>Lokaranjan
                            Aqua World Underwater
                            Zoo</span></a></h3>
                <p class="timeline__day-sum">All nature lovers and adventure seekers, grab this amazing deal to explore one of the India's largest indoor tunnel aquariums. The Aqua World & Underwater Zoo holds a Guinness Record for the India...</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day daySix">Day 6-7:<a
                        href="https://karnatakatourism.org/tour-item/grs-fantasy-park/"><span>GRS Fantasy
                            Park</span></a>
                </h3>
                <p class="timeline__day-sum">GRS Fantasy Park is one of Mysore city's favorite tourist destinations. It is an amusement and water park for the entire family!Just 15 minutes drive from the city of Mysore
                </p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>
            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 7:<a
                        href="https://en.wikipedia.org/wiki/Mysore_Sand_Sculpture_Museum">
                        <span>Mysore Sand Sculpture Museum</span></a></h3>
                <p class="timeline__day-sum">Sand sculpture museum showcasing an array of detailed sculptures across 16 themes, including mythology and animals, plus a 3D selfie gallery and children's play area.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

        </ol>
    </main>


    <script src='/js/timejs/jquery3.3.1.js'></script>
    <script src='/js/timejs/toolkit.js'></script>

</body>

</html>