<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

   
    <meta name="theme-color" content="#03324B" />
    <meta property="og:image" content="cmk1.jpg" />
    <title>Cover SHIVAMOGGA</title>

    <link rel="stylesheet" type='text/css' href="/css/timecss/fonts.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/reset.css">
    <link rel="stylesheet" type='text/css' href="/css/timecss/styles.css">
    <!--https://codepen.io/vincebrown/pen/BNazqL//-->
</head>

<body>
    <header>
        <div class="poster" style=" background-image: url('/images/shivamogga.png');">
            <h1 class="poster__heading" style="color: black;">SHIVAMOGGA
                <span class="poster__subheading">
                    <!--NOT ALL WHO WANDER ARE LOST//-->
                    TAKING ON A NEW ADVENTURE
                    <!--WHEREVER YOU GO, GO WITH ALL YOUR HEART//--></span>
                <a id="scroll-down" href="#" class="btn--primary">Discover</a>
        </div>
        </div>
    </header>

    <main class="timeline-wrapper">
        <div class="svg-timeline">
            <svg id="svg" width="8px">
                <line id="timeline" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" x1="4" y1="0"
                    x2="4" y2="0" />
            </svg>
        </div>
        <ol class="timeline clearfix">
            <div class="first"
                style=" background-image: url('/images//mysorelast.png');">
                <li class="timeline__item">
                    <h3 class="timeline__day">Day 1: <a
                            href="https://en.wikipedia.org/wiki/Jog_Falls"><span>Jog_Falls</span></a></h3>
                    <p class="timeline__day-sum">Jog Falls is a waterfall on the Sharavati river located in Siddapur
                        taluk of Uttara Kannada district and its view point in Kargal town of Shimoga district,
                        Karnataka, India. It is the second highest plunge waterfall in India. It is a
                        segmented waterfall which depends on rain and season to become a plunge waterfall. The falls are
                        major attractions for tourists and is ranked 36th in the list of free-falling waterfalls, 490th
                        in the world by list of waterfalls by total height, 128th in the list of single-drop waterfalls
                        in the World by the waterfall database.</p>
                    <a href="#" class="btn--comments">19 Comments</a>
                </li>

                <li class="timeline__item right">
                    <h3 class="timeline__day dayTwo">Day 2: <a
                            href="https://www.karnatakatourism.org/accommodation/sakrebyle-elephant-"><span>Sakrebyle
                                Elephant Camp</span></a>
                    </h3>
                    <p class="timeline__day-sum">The Sakrebyle Elephant Camp is a forest camp for captive elephants in
                        Karnataka. Situated at a distance of 14 km from Shimoga on the Shimoga-Thirthahalli Road, it is
                        considered to be the best camp for training elephants in the state. The camp is maintained by
                        the Karnataka Forest Department.



                        .</p>
                    <a href="#" class="btn--comments">35 Comments</a>
                </li>
            </div>

            <li class="timeline__item">
                <h3 class="timeline__day dayThree">Day 3-4:<a
                        href="https://en.wikipedia.org/wiki/Kuvempu"><span>Kavimane</span></a></h3>
                <p class="timeline__day-sum">Kavimane is the ancestral house of Kuvempu. Kavimane means House of the
                    poet in the Kannada language. Nestled in the midst of green forests of Malnad, the house presents a
                    scintillating view. It is a three-storeyed tiled house including the ground floor and is the house
                    where Kuvempu spent most of his childhood.</p>
                <p class="timeline__day-sum">Desc.</p>
                <a href="#" class="btn--comments">72 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day dayFour">Day 4:<a
                        href="https://en.wikipedia.org/wiki/Kudremukha"><span>Kudremukha</span></a></h3>
                <p class="timeline__day-sum">Kudremukha is the name of a mountain range and an individual mountain peak
                    located in Chikmagalur district, in Karnataka, India. It is also the name of a small hill station
                    and iron ore-
                    mining town situated near the mountain, about 20 kilometres from Kalasa in Kalasa Taluk. The name
                    Kuduremukha literally means "horse-faced" in Kannada and refers to a particular picturesque view of
                    a side of the mountain that resembles a horse's face.</p>
                <a href="#" class="btn--comments">132 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day dayFive">Day 5: <a
                        href="https://en.wikipedia.org/wiki/Baba_Budangiri"><span>Baba Budangiri</span></a></h3>
                <p class="timeline__day-sum">Baba Budangiri (lit. 'Baba Budan hill'), also known as Chandradrona (lit.
                    'Moon guide', as the range naturally forms the shape of a crescent moon), is a hill and mountain
                    range in the Western Ghats of India, located in the Chikkamagaluru district of Karnataka.</p>
                <a href="#" class="btn--comments">2 Comments</a>
            </li>

            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 6: <a
                        href="https://en.wikipedia.org/wiki/Kundadri"><span>Kundadri</span></a>
                </h3>
                <p class="timeline__day-sum">Kundadri is a hill (826 mt) with dense forests in the Western Ghats located
                    in Shimoga District, Karnataka State, India. It is 70 km from Udupi city.
                    This hill is known for a 17th-century Jain temple dedicated to Parshwanath tirthankara and the place
                    is known to have given shelter to Acharya Kundakunda during earlier centuries. The main deity of
                    this temple is Parshwanatha, the 23rd Tirthankara.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

            <li class="timeline__item">
                <h3 class="timeline__day daySix">Day 6-7:<a
                        href="https://en.wikipedia.org/wiki/Kunchikal_Falls"><span>GRS Fantasy
                            Park</span></a>
                </h3>
                <p class="timeline__day-sum">Kunchikal Falls is a waterfall in India located in the Nidagodu village
                    near Masthikatte in the Shimoga district of Karnataka state. 21(3]
                    Kunchikal Falls cascades down rocky boulders and the total height of the falls is 455 meters (1,493
                    feet), according to the World Waterfall Database 2.1 Kunchikal Falls is formed by the
                    Varahi river.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>
            <li class="timeline__item right">
                <h3 class="timeline__day daySix">Day 7:<a
                        href="https://en.wikipedia.org/wiki/Dabbe_Falls_(Sagara)">
                        <span>Dabbe Falls</span></a></h3>
                <p class="timeline__day-sum">Dabbe Falls is a waterfall located in place named Dabbe near Hosagadde in
                    Sagar taluk, Shivamogga District in Karnataka state, India. The height of the falls is 110 meters.
                    One can take a guide from Muppane nature camp which is 10 km away from Dabbe Falls.</p>
                <a href="#" class="btn--comments">12 Comments</a>
            </li>

        </ol>
    </main>


    <script src='/js/timejs/jquery3.3.1.js'></script>
    <script src='/js/timejs/toolkit.js'></script>

</body>

</html>